.wrapper{
    display:block;
}
.visual-area{
    margin: 0 auto;
    width:600px;
}

.carousel ul {
    list-style-type: none;
    position: relative;
    margin:0;
    padding:0;
}

/* Required for `li` */
.carousel > ul > li {
    position: absolute;
    top: 20px;
    bottom: 20px;
    float: left;
}

.carousel > ul > li.off {
   opacity: 0;
   transition: opacity 0.2s linear;
   -web-kit-transition: opacity 0.2s linear;
}

.carousel > ul > li.on {
    opacity: 1;
    transition: opacity 0.2s linear;
    -web-kit-transition:opacity 0.2s linear;
}

.next{
    display: inline-block;
    top: 250px;
    left: 500px;
    position: relative;
}
